@font-face {
    font-family: "Final-fantasy";
    src: url("../fonts/Ferrum-wy99.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


/*INDEX FILE*/

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

html, body {
    height: 100%;
    background-color: #333;
}

h1 {
    font-family: "Final-fantasy";
    font-size: 64px;
    margin: 0;
}

.text-center {
    text-align: center !important;
}

.cover-container {
    max-width: 42em;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}

#welcomeText, #introButton, #attackButtons {
    display: block;
}

#bossFight {
    display: none;
}

#finalBoss {
    width: 240px;
    height: 246px;
    background-image: url("../images/final-boss-medium.png");
    animation: moveX 1.5s steps(3) forwards;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

@keyframes moveX{
    from{background-position-x:240px;}
    to{background-position-x:-480px;}
}

@media only screen and (min-width: 600px) {
    #finalBoss {
        width: 480px;
        height: 492px;
        background-image: url("../images/final-boss-big.png");
        animation: moveX 1.5s steps(3) forwards;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    @keyframes moveX{
        from{background-position-x:480px;}
        to{background-position-x:-960px;}
    }
}